# Mongo DB URL
DATABASE=
# JWT Secret code
JWT_SECRET=
# Minimum password requirement
MIN_PASSWORD=6
# Token life time
TOKEN_LIFE=12h
# Moderation all users per page
MOD_PER_PAGE_USERS=50

# Moderation searchable fields for users
MOD_SEARCH_FIELDS=id,name,email,active,profile_picture,permissions,createdAtMin,createdAtMax,updatedAtMax,updatedAtMin
# Moderation searchable fields for users
USERS_SEARCH_FIELDS=name,email
# Allowrd origins
ALLOWED_ORIGINS=http://localhost:3001,http://localhost:3002

###############################
# Files and pictures storage #
#############################

# the main upload folder is the folder that has all other folders inside it
MAIN_UPLOAD_FOLDER=uploads
# Child folders to upload the profile pictures
# in this case the path will be "uploads/profile_pictures"
PROFILE_PICTURES_UPLOAD_FOLDER=profile_pictures
# Number of files can be uploaded at once
# default 10
FILES_PER_UPLOAD=10

#################################
# Files Uploads and encryption #
###############################

# Encryption password must be 32 character for cbc encryption
ENCRYPTION_PASSWORD=g.7r4%L1!ERC5kJdr~o1DwGL_3vb!lqp
# Encryption type, default ges-256-cbc
ENCRYPTION_TYPE=aes-256-cbc
# Child folders to upload files
# in this case the path will be "uploads/files"
FILES_UPLOAD_FOLDER=files
# Moderation all users per page
MOD_PER_PAGE_FILES=5

#################
# Extra Fields #
################
# Extra fields Collections
ALLOWED_COLLECTIONS=User,File
# Default fields so they will be excluded from being added to the extra fields collection in 
# User collection
DEFAULT_USER_FIELDS=name,password,email,profile_picture,permissions
DEFAULT_FILE_FIELDS=originalName,filename,path,size,mimetype,uploadedBy
