# Mongo DB URL
DATABASE=
# JWT Secret code
JWT_SECRET=RANDOM_SECRET_CODE
# Minimum password requirement
MIN_PASSWORD=6
# Token life time
TOKEN_LIFE=12h
# Moderation all users per page
MOD_PER_PAGE_USERS=50

# Moderation searchable fields for users
MOD_SEARCH_FIELDS=id,name,email,active,profile_picture,permissions,createdAtMin,createdAtMax,updatedAtMax,updatedAtMin
# Moderation searchable fields for users
USERS_SEARCH_FIELDS=name,email
# Allowrd origins
ALLOWED_ORIGINS=http://localhost:3001,http://localhost:3002

# Files and pictures storage
# the main upload folder is the folder that has all other folders inside it
MAIN_UPLOAD_FOLDER=uploads
# Child folders to upload the profile pictures
# in this case the path will be "uploads/profile_pictures"
PROFILE_PICTURES_UPLOAD_FOLDER=profile_pictures
